<div class="row">
    <div class="col text-center text-white">
        <h1 class="main-text">A Better Way To</h1>
        <h1 class="main-text typed-text-placeholder">
            <span id="typed-text"></span>
        </h1>
    </div>
</div>
<div class="text-center">
    <p class="lead text-slightly-gray">Using state of the art AI, Codeifyx makes it easy for anyone to get help with
        code.</p>
    <a href="/chat" class="btn btn-warning btn-lg mt-3 text-white" id="launch-btn">Launch Codeifyx</a>
    <p class="small text-slightly-gray mt-3">No credit card required. Free 14-day trial.</p>
</div>
<div class="text-center mt-5">
    <img src="/images/happy.png" alt="Codeifyx Image" class="img-fluid">
</div>
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-5 headline">Code Smarter, Not Harder: Explore Top Features of CodeifyX</h2>
    </div>
    <div class="row mt-2">
        <div class="col-md-4">
            <i class="fas fa-code fa-3x mb-3"></i>
            <h3>Smart Code Completion</h3>
            <p>Accelerate your coding with AI-driven predictions that auto-complete your code intelligently, adapting to your style for tailored recommendations.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-tools fa-3x mb-3"></i>
            <h3>Code Refactoring Suggestions</h3>
            <p>Enhance your code’s structure with AI-powered refactoring tips. Optimize readability and efficiency with smart, automated suggestions.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-code-branch fa-3x mb-3"></i>
            <h3>Cross-Language Integration</h3>
            <p>Code effortlessly in multiple languages. Get customized support and seamless integration across different programming environments.</p>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="/demo" class="btn btn-primary btn-lg btn-warning">Try a Demo</a>
    </div>
</div>
<div class="gradient-container"></div>