<div class="row">
    <div class="col text-center text-white">
        <h1 class="main-text">A Better Way To</h1>
        <h1 class="main-text typed-text-placeholder">
            <span id="typed-text"></span>
        </h1>
    </div>
</div>
<div class="text-center">
    <p class="lead text-slightly-gray">Using state of the art AI, Codeifyx makes it easy for anyone to get help with code.</p>
    <a href="/signup" class="btn btn-warning btn-lg mt-3">Try For Free</a>
    <p class="small text-slightly-gray mt-2">No credit card required. Free 14-day trial.</p>
</div>