<h3><i class="fas fa-book-reader"></i> Codeifyx</h3>
<div class="section">
    <p class="lead">Your personal programming assistant</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login With Google
    </a>
</div>